input.tHelp {
	left: '280px';
	background-color: 'transparent';
	background-image: url("https://raw.githubusercontent.com/kizetsu/Titanpad-Color-Expansion/master/img/question-icon.png");
	background-repeat: 'no-repeat';
	position: absolute;
	height: '26px';
	width: '26px';
	text-decoration: 'none';
	top: '5px';
}

input.tClose {
	width: '26px';
	height: '26px';
	margin-bottom: '10px';
	background-image: url('https://raw.githubusercontent.com/kizetsu/Titanpad-Color-Expansion/beta/img/close-icon.png');
}

div#tHelpModal {
	display: 'none';
	position: 'absolute';
	width: '100%';
	height: '100%';
	z-index: '800';
	top: '0';
	left: '0';
	padding: '20% 10%';
}

div#tHelpModalInner {
	background-color: '#ebebeb';
	padding: '20px';
	font-size: '12px';
	width: '500px';
	margin-left: '-500px';
	left: '50%';
	top: '100px';
	position: absolute;
}